In [159]:
#importing dependencies
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
import pymysql
import numpy as np
import math
import statistics
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

engine = create_engine("mysql://root:Henry8354392.@localhost/ETLProject")
conn = engine.connect()

In [160]:
#university into json into a dataframe
university = "schoolInfo.json"

universitydf=pd.read_json(university)

len(universitydf)

311

In [161]:
#cleaning dataframe
universitydf_clean= universitydf[['displayName','city','state','hs-gpa-avg','sat-avg']].copy()
universitydf_clean = universitydf_clean.rename(columns={'displayName': "School Name", "hs-gpa-avg": "High School GPA",
                                                        'sat-avg': "SAT Average", 'city': "City", 'state': "State"})
len(universitydf_clean)

311

In [162]:
salaries2_df = pd.read_csv('salaries-by-college-type.csv')
#salaries2_df.head()
len(salaries2_df)

269

In [163]:
salaries_df = pd.read_csv('salaries-by-region.csv')
len(salaries_df)

320

In [164]:
univ_sal_df = pd.merge(universitydf_clean, salaries_df, on = 'School Name', how = 'inner')
univ_type_sal_df = pd.merge(univ_sal_df, salaries_df, on = 'School Name', how = 'inner')
statistics.median(univ_sal_df["High School GPA"])
clean_df = univ_type_sal_df[["School Name", "City" , "State", "High School GPA", "Region_x", "Starting Median Salary_x",
                             "Mid-Career 10th Percentile Salary_x", "Mid-Career 25th Percentile Salary_x", 
                            "Mid-Career 75th Percentile Salary_x", "Mid-Career 90th Percentile Salary_x"]]
#univ_type_sal_df.head()
clean_df.head()

,School Name,City,State,High School GPA,Region_x,Starting Median Salary_x,Mid-Career 10th Percentile Salary_x,Mid-Career 25th Percentile Salary_x,Mid-Career 75th Percentile Salary_x,Mid-Career 90th Percentile Salary_x
0,Princeton University,Princeton,NJ,3.9,Northeastern,"$66,500.00","$68,900.00","$100,000.00","$190,000.00","$261,000.00"
1,Harvard University,Cambridge,MA,4.0,Northeastern,"$63,400.00","$54,800.00","$86,200.00","$179,000.00","$288,000.00"
2,Yale University,New Haven,CT,NaN,Northeastern,"$59,100.00","$58,000.00","$80,600.00","$198,000.00","$326,000.00"
3,Columbia University,New York,NY,NaN,Northeastern,"$59,400.00","$50,300.00","$71,900.00","$161,000.00","$241,000.00"
4,Stanford University,Stanford,CA,NaN,California,"$70,400.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"

In [165]:
clean_df["High School GPA"].median()
clean_df["High School GPA"].fillna(3.6,inplace = True)
clean_df.head()

C:\Users\dinhh\New folder\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,School Name,City,State,High School GPA,Region_x,Starting Median Salary_x,Mid-Career 10th Percentile Salary_x,Mid-Career 25th Percentile Salary_x,Mid-Career 75th Percentile Salary_x,Mid-Career 90th Percentile Salary_x
0,Princeton University,Princeton,NJ,3.9,Northeastern,"$66,500.00","$68,900.00","$100,000.00","$190,000.00","$261,000.00"
1,Harvard University,Cambridge,MA,4.0,Northeastern,"$63,400.00","$54,800.00","$86,200.00","$179,000.00","$288,000.00"
2,Yale University,New Haven,CT,3.6,Northeastern,"$59,100.00","$58,000.00","$80,600.00","$198,000.00","$326,000.00"
3,Columbia University,New York,NY,3.6,Northeastern,"$59,400.00","$50,300.00","$71,900.00","$161,000.00","$241,000.00"
4,Stanford University,Stanford,CA,3.6,California,"$70,400.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"

In [166]:
#test = clean_df.loc(clean_df["Mid-Career 90th Percentile Salary_x"] == 'NaN')
clean_df["Starting Median Salary_x"] = clean_df["Starting Median Salary_x"].str.replace("$",'')
clean_df["Mid-Career 10th Percentile Salary_x"] = clean_df["Mid-Career 10th Percentile Salary_x"].str.replace("$",'')
clean_df["Mid-Career 25th Percentile Salary_x"] = clean_df["Mid-Career 25th Percentile Salary_x"].str.replace("$",'')
clean_df["Mid-Career 75th Percentile Salary_x"] = clean_df["Mid-Career 75th Percentile Salary_x"].str.replace("$",'')
clean_df["Mid-Career 90th Percentile Salary_x"] = clean_df["Mid-Career 90th Percentile Salary_x"].str.replace("$",'')
clean_df["Starting Median Salary_x"] = clean_df["Starting Median Salary_x"].str.replace(",",'')
clean_df["Mid-Career 10th Percentile Salary_x"] = clean_df["Mid-Career 10th Percentile Salary_x"].str.replace(",",'')
clean_df["Mid-Career 25th Percentile Salary_x"] = clean_df["Mid-Career 25th Percentile Salary_x"].str.replace(",",'')
clean_df["Mid-Career 75th Percentile Salary_x"] = clean_df["Mid-Career 75th Percentile Salary_x"].str.replace(",",'')
clean_df["Mid-Career 90th Percentile Salary_x"] = clean_df["Mid-Career 90th Percentile Salary_x"].str.replace(",",'')
clean_df["Starting Median Salary_x"] = pd.to_numeric(clean_df["Starting Median Salary_x"])
clean_df["Mid-Career 10th Percentile Salary_x"] = pd.to_numeric(clean_df["Mid-Career 10th Percentile Salary_x"])
clean_df["Mid-Career 25th Percentile Salary_x"] = pd.to_numeric(clean_df["Mid-Career 25th Percentile Salary_x"])
clean_df["Mid-Career 75th Percentile Salary_x"] = pd.to_numeric(clean_df["Mid-Career 75th Percentile Salary_x"])
clean_df["Mid-Career 90th Percentile Salary_x"] = pd.to_numeric(clean_df["Mid-Career 90th Percentile Salary_x"])


#,clean_df["Mid-Career 10th Percentile Salary_x"]
#                            clean_df["Mid-Career 25th Percentile Salary_x"], clean_df["Mid-Career 75th Percentile Salary_x"],
#                            clean_df["Mid-Career 90th Percentile Salary_x"], clean_df["Mid-Career Median Salary"]])
clean_df.head()

C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\dinhh\New folder\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,School Name,City,State,High School GPA,Region_x,Starting Median Salary_x,Mid-Career 10th Percentile Salary_x,Mid-Career 25th Percentile Salary_x,Mid-Career 75th Percentile Salary_x,Mid-Career 90th Percentile Salary_x
0,Princeton University,Princeton,NJ,3.9,Northeastern,66500.0,68900.0,100000.0,190000.0,261000.0
1,Harvard University,Cambridge,MA,4.0,Northeastern,63400.0,54800.0,86200.0,179000.0,288000.0
2,Yale University,New Haven,CT,3.6,Northeastern,59100.0,58000.0,80600.0,198000.0,326000.0
3,Columbia University,New York,NY,3.6,Northeastern,59400.0,50300.0,71900.0,161000.0,241000.0
4,Stanford University,Stanford,CA,3.6,California,70400.0,68400.0,93100.0,184000.0,257000.0

In [167]:
clean_df.dtypes
clean_df = clean_df.rename(columns={'School Name': "school_name", "High School GPA": "highschool_gpa",
                                          "SAT Average": "sat_avg", 'city': "City", 'state': "State", 
                                          "Starting Median Salary": "starting_meadian_salary", 
                                          "Mid-Career Median Salary": 'mid_career_salary', 
                                          "Mid-Career Median Salary": "mid_career_median_salary", 
                                         "Mid-Career 10th Percentile Salary": "mid_career_10th_percentile_salary",
                                          "Mid-Career 75th Percentile Salary": "mid_career_75th_percentile_salary",
                                          "Mid-Career 25th Percentile Salary": "mid_career_25th_percentile_salary",
                                          "Mid-Career 90th Percentile Salary": "mid_career_90th_percentile_salary"})
clean_df.head()

,school_name,City,State,highschool_gpa,Region_x,Starting Median Salary_x,Mid-Career 10th Percentile Salary_x,Mid-Career 25th Percentile Salary_x,Mid-Career 75th Percentile Salary_x,Mid-Career 90th Percentile Salary_x
0,Princeton University,Princeton,NJ,3.9,Northeastern,66500.0,68900.0,100000.0,190000.0,261000.0
1,Harvard University,Cambridge,MA,4.0,Northeastern,63400.0,54800.0,86200.0,179000.0,288000.0
2,Yale University,New Haven,CT,3.6,Northeastern,59100.0,58000.0,80600.0,198000.0,326000.0
3,Columbia University,New York,NY,3.6,Northeastern,59400.0,50300.0,71900.0,161000.0,241000.0
4,Stanford University,Stanford,CA,3.6,California,70400.0,68400.0,93100.0,184000.0,257000.0

In [171]:
clean_df.to_csv("University.csv", sep='\t')
clean_df.to_sql(name='University', con = engine, if_exists='replace',index = False)

C:\Users\dinhh\New folder\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'University' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)